.modal-medium {
    width: 600px;
}

.modal-title{
    text-transform: capitalize;
}

.task-modal-content{
    padding-left: 20px;
    overflow: hidden;
}
.task-modal-content p{
    font-size: 15px;
    padding-left: 45px;
    margin-bottom: 22px;
    margin-top: 10px;
    font-weight: 400;
}
.task-modal-content h4{
    text-transform: capitalize;
    margin-bottom: 0px;
    padding-left: 45px;
}
.task-modal-content .due_time{
    background: url('../img/clock.png') no-repeat 6px center;
    background-size: 16px 16px;
}

.task-modal-content .desc{
    background: url('../img/desc.png') no-repeat 6px center;
    background-size: 16px 16px;
}

.task-modal-content .desc:after{
    content: "";
}
.task-modal-content .person{
    background: url('../img/client.png') no-repeat 6px center;
    background-size: 16px 16px;
    display:block;
}

.task-modal-content .status{
    background: url('../img/progress.png') no-repeat 6px center;
    background-size: 16px 16px;
}

.task-modal-content .employee{
    background: url('../img/person.png') no-repeat 6px center;
    background-size: 16px 16px;
}
.viewBtn{
    border: 1px solid #d9d9d9;
    font-size: 15px;
    color: #3a3a3a;
    background-color:#FFFFFF;
    height: 3.8rem;
    line-height: 1.2rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 4px 18px;
    margin: 8px;
    border-radius: 4px;
    transition: all 0.1s linear;
    position: relative;
    text-transform: uppercase;
}
.viewBtn:hover {
    color: #2287faa6;
    border-color: #2287faa6;
    background-color: #f9f9f9;
}
.editform{
    display: none;
    padding-left: 40px;
}
.linkButton{
    text-decoration: underline;
    border: none;
    color: #606c76;
    text-transform: capitalize;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 11px;
    padding: 0px;
    background: none;
}
.linkButton:hover{
    color: #0071BC;
    background-color: transparent;
}
